@import 'tailwindcss/theme.css';
@import 'tailwindcss/utilities.css';
@font-face {
    font-family: "Zhi Mang Xing";
    src: url("../public/fonts/ZhiMangXing-Regular.ttf");
    font-weight: 400;
    font-style: normal;
}

:root {
    --dialogue-name-font: 'Zhi Mang Xing';
    --border: #bbb5ac;
    --cx-paper-color: #fbeee2;
    --ink-heavy: #1f1b18;   /* 浓墨：人名、台词重点 */
    --ink-medium:  #332d29;   /* 焦墨：叙述 */
    --ink-mute:  #5c534d;   /* 淡墨：注释 */
}

:root {
    /* 酒馆自身的基础字号 */
    --cx-st-font-size: var(--mainFontSize, 15px);

    /* 插件整体缩放比例 */
    --cx-font-scale: 1;

    /* 插件最终字号 */
    --cx-body-size: calc(
            var(--cx-st-font-size) * var(--cx-font-scale) * 1.15
    );

    --cx-dialogue-size: calc(
            var(--cx-body-size) * 0.95
    );

    --cx-name-size: calc(
            var(--cx-body-size) * 1.35
    );

    --cx-name-head-size: calc(
            var(--cx-body-size) * 1.75
    );
}

@theme {
    --font-dialogue-name: var(--dialogue-name-font);
    --color-border: var(--border);
    --color-ink-heavy: var(--ink-heavy);
    --color-ink-medium: var(--ink-medium);
    --color-ink-mute: var(--ink-mute);
}

@layer components {
    .cx-dialogue-content {
        @apply text-(length:--cx-dialogue-size) text-ink-medium leading-relaxed;
    }

    .cx-dialogue-prefix,
    .cx-dialogue-suffix {
        display: none;
    }

    .cx-dom-slot > :first-child {
        margin: 0;
    }

    .cx-dialogue-name {
        @apply font-dialogue-name text-(length:--cx-name-size) tracking-wide text-black;
    }

    .cx-dialogue-name-head {
        @apply font-dialogue-name text-(length:--cx-name-head-size) text-black;
    }

    .cx-dialogue {
        @apply py-2;
    }

    .cx-avatar,
    .cx-avatar *,
    .cx-avatar::after {
        border-radius: var(--radius-lg, 0.5rem) !important;
    }
}

@layer components {
    .cx-bg {
        @apply bg-(--cx-paper-color) p-6 rounded-lg border border-amber-900/15 shadow-md;
        background-image: url("assets/textures/handmade-paper.png");
    }

    .cx-narration {
        @apply text-(length:--cx-body-size) py-2 text-ink-heavy leading-relaxed;
    }
}
